# Pokemon Best Walls
The objective is to find the best Pokemon walls by taking into account:
- Physical/Special Defense stats;
- Types, and their damage factors.

In [1]:
import pandas as pd
import pokemon_utilities

pokemons = pd.read_csv('Pokemons.csv').set_index('#')
types_chart = pd.read_csv('TypesChart.csv').set_index('Attack')

pokemons.loc[197].to_frame().T

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
197,Umbreon,Dark,NaN,525,95,65,110,60,130,65,2,False

## Types Factors and Damages

In [2]:
for type in types_chart.iloc[:,1:]:
    pokemons[type] = pokemon_utilities.calculate_type_damage_factors(types_chart, type, pokemons['Type 1'], pokemons['Type 2'])
    pokemons[type + ' Physical Damage'] = pokemon_utilities.calculate_damages(pokemons['Defense'], pokemons[type])
    pokemons[type + ' Special Damage'] = pokemon_utilities.calculate_damages(pokemons['Sp. Def'], pokemons[type])

## Average Damages

In [3]:
pokemons['Physical Average Damage'] = pokemons.filter(like='Physical Damage').mean(axis=1)
pokemons['Special Average Damage'] = pokemons.filter(like='Special Damage').mean(axis=1)
pokemons['Mixed Average Damage'] = pokemons.filter(like='Damage').mean(axis=1)

## Physical Walls

In [4]:
pokemons.sort_values('Physical Average Damage').filter(regex='Name|Average Damage').head(10)

,Name,Physical Average Damage,Special Average Damage,Mixed Average Damage
#,,,,
208,Steelix,21.767059,63.432579,42.599819
213,Shuckle,24.433248,24.433248,24.433248
91,Cloyster,28.133333,106.533333,67.333333
227,Skarmory,30.364706,59.023529,44.694118
95,Onix,37.864706,128.466667,83.165686
205,Forretress,38.741176,87.494118,63.117647
110,Weezing,39.988235,67.164706,53.576471
219,Magcargo,41.200000,60.800000,51.000000
249,Lugia,42.676923,36.374332,39.525627
99,Kingler,42.904348,96.080000,69.492174

## Special Walls

In [5]:
pokemons.sort_values('Special Average Damage').filter(regex='Name|Average Damage').head(10)

,Name,Physical Average Damage,Special Average Damage,Mixed Average Damage
#,,,,
213,Shuckle,24.433248,24.433248,24.433248
250,Ho-oh,54.266667,32.545455,43.406061
226,Mantine,69.200000,35.600000,52.400000
249,Lugia,42.676923,36.374332,39.525627
242,Blissey,472.400000,36.844444,254.622222
197,Umbreon,47.396791,40.430769,43.913780
73,Tentacruel,74.369231,41.200000,57.784615
245,Suicune,42.904348,42.904348,42.904348
136,Flareon,80.400000,44.763636,62.581818
143,Snorlax,74.369231,44.763636,59.566434

## Mixed Walls

In [6]:
pokemons.sort_values('Mixed Average Damage').filter(regex='Name|Average Damage').head(10)

,Name,Physical Average Damage,Special Average Damage,Mixed Average Damage
#,,,,
213,Shuckle,24.433248,24.433248,24.433248
249,Lugia,42.676923,36.374332,39.525627
208,Steelix,21.767059,63.432579,42.599819
245,Suicune,42.904348,42.904348,42.904348
250,Ho-oh,54.266667,32.545455,43.406061
197,Umbreon,47.396791,40.430769,43.913780
227,Skarmory,30.364706,59.023529,44.694118
9,Blastoise,49.040000,46.800000,47.920000
176,Togetic,55.654671,45.423529,50.539100
219,Magcargo,41.200000,60.800000,51.000000