# Pokemon Walls
The objective is to find the best Pokemon walls by taking into account:
- HP/Physical/Special Defense stats;
- Types, and their damage factors.

In [1]:
import pandas as pd
import pokemon_utilities

pokemons = pd.read_csv('Pokemons.csv').set_index('#')
types_chart = pd.read_csv('TypesChart.csv').set_index('Attack')

pokemons.loc[197].to_frame().T

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
197,Umbreon,Dark,NaN,525,95,65,110,60,130,65,2,False

## Effective HP

In [2]:
pokemons['Effective HP'] = pokemon_utilities.effective_hp(pokemons['HP'])
pokemons.sort_values('Effective HP', ascending = False).filter(regex='Name|HP').head()

           Name   HP  Effective HP
#
242     Blissey  255           651
113     Chansey  250           641
202   Wobbuffet  190           521
143     Snorlax  160           461
40   Wigglytuff  140           421

## Types Factors and Damages

In [3]:
for type in types_chart.iloc[:,1:]:
    pokemons[type] = pokemon_utilities.calculate_type_damage_factors(types_chart, type, pokemons['Type 1'], pokemons['Type 2'])
    pokemons[type + ' Ph. Damage'] = pokemon_utilities.calculate_damages(pokemons['Defense'], pokemons[type])
    pokemons[type + ' Sp. Damage'] = pokemon_utilities.calculate_damages(pokemons['Sp. Def'], pokemons[type])

## Average Damages

In [4]:
pokemons['Ph. Average Damage'] = pokemons.filter(like='Ph. Damage').mean(axis=1)
pokemons['Sp. Average Damage'] = pokemons.filter(like='Sp. Damage').mean(axis=1)
pokemons['Mix. Average Damage'] = pokemons.filter(like='Damage').mean(axis=1)

## Physical Walls

In [5]:
pokemons.sort_values('Ph. Average Damage').filter(regex='Name|Ph. Average').head()

           Name  Ph. Average Damage
#
208     Steelix           28.893524
213     Shuckle           32.754080
227    Skarmory           33.403127
205  Forretress           39.184438
91     Cloyster           40.964528

In [6]:
pokemons['Ph. Attacks Sustained'] = pokemons['Effective HP'] / pokemons['Ph. Average Damage']
pokemons.sort_values('Ph. Attacks Sustained', ascending = False).filter(regex='Name|Ph. Attacks').head()

           Name  Ph. Attacks Sustained
#
208     Steelix              10.071461
227    Skarmory               8.113013
205  Forretress               7.426418
249       Lugia               6.704481
245     Suicune               6.619330

## Special Walls

In [7]:
pokemons.sort_values('Sp. Average Damage').filter(regex='Name|Sp. Average').head()

        Name  Sp. Average Damage
#
213  Shuckle           32.754080
250    Ho-oh           41.473324
226  Mantine           44.965748
242  Blissey           45.043137
249    Lugia           45.620657

In [8]:
pokemons['Sp. Attacks Sustained'] = pokemons['Effective HP'] / pokemons['Sp. Average Damage']
pokemons.sort_values('Sp. Attacks Sustained', ascending = False).filter(regex='Name|Sp. Attacks').head()

        Name  Sp. Attacks Sustained
#
242  Blissey              14.452812
113  Chansey              11.540927
143  Snorlax               8.624883
250    Ho-oh               8.511495
249    Lugia               7.737723

## Mixed Walls

In [9]:
pokemons.sort_values('Mix. Average Damage').filter(regex='Name|Average Damage').head()

         Name  Ph. Average Damage  Sp. Average Damage  Mix. Average Damage
#
213   Shuckle           32.754080           32.754080            32.754080
227  Skarmory           33.403127           58.757219            46.080173
249     Lugia           52.651351           45.620657            49.136004
208   Steelix           28.893524           72.970872            50.932198
245   Suicune           51.515789           51.515789            51.515789

In [10]:
pokemons['Mix. Attacks Sustained'] = pokemons['Effective HP'] / pokemons['Mix. Average Damage']
pokemons.sort_values('Mix. Attacks Sustained', ascending = False).filter(regex='Name|Mix. Attacks').head()

        Name  Mix. Attacks Sustained
#
249    Lugia                7.184141
143  Snorlax                6.840038
250    Ho-oh                6.641369
245  Suicune                6.619330
197  Umbreon                6.255519